html,
body {
	min-width: 1200px;
	min-height: 2494px;
	padding: 0;
	margin: 0;

    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
  
    background-color: #f4f4f4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
	background-image: url("../img/header-background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.main-header .logo-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 240px;
	margin: 0 auto;
	margin-top: 109px;
	margin-bottom: 55px;
}

.logo-title .main-title {
	padding: 0;
	padding-top: 5px;
	margin: 0;

	font-family: Pacifico, Arial, sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #222222;
} 

.main-header .description {
	width: 640px;
	margin: 0 auto;
	margin-bottom: 423px;

	font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #222222;
}

.features-block {
	position: relative;
	padding-top: 55px;
	padding-bottom: 102px;
}

.features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.features .iphone {
	position: absolute;
	top: -298px;
	left: 50%;
	margin-left: -232px;
}

.features-list {
	width: 320px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.features-list-left {
	margin-left: 60px;
}

.features-list-right {
	margin-right: 60px;
}

.feature-item {
	position: relative;
	margin-bottom: 50px;
	cursor: default;
}


.feature-title {
	margin: 0;
	margin-bottom: 23px;
	padding: 0;

	font-family: Raleway, Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #222222;
}

.presentation-block {
	background-color: #e3e3e3;
	padding-top: 58px;
	padding-bottom: 60px;
}

.presentation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.presentation-left {
	max-width: 550px;
}

.presentation-left b {
	display: block;
	margin-bottom: 23px;

	font-family: Raleway, Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #222222;  
}

.presentation-left p {
	margin-bottom: 26px;
}

.apps-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin: 0;
	padding: 0;

	list-style: none;
}

.app-item a {
	display: block;
	width: 69px;
	height: 69px;
	margin-right: 20px;

	border-radius: 50%;
	background-color: #c5c5c5;
	background-repeat: no-repeat;
	background-position: center center; 
}

.app-item li:last-child a {
	margin-right: 0;
}

.apple-item a {
	background-image: url("../img/apple-icon.svg");
}

.android-item a {
	background-image: url("../img/android-icon.svg");
}

.windows-item a {
	background-image: url("../img/windows-icon.svg");
}

.app-item a:hover {
	background-color: #222222;
}

.app-item a:active {
	background-color: #000000;
}

.presentation-right {
	position: relative;
}

.presentation-right::after {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	content: "";
	width: 460px;
	height: 43px;

	background-image: url("../img/video-panel.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social {
	padding-top: 55px;
	padding-bottom: 61px;
}

.social .review q {
	display: block;
	max-width: 859px;
	margin: 0 auto;
	margin-bottom: 23px;

	font-family: Raleway, Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;

	quotes: none;
}

.social .review cite {
	display: block;
	max-width: 155px;
	margin: 0 auto;
	margin-bottom: 58px;

	font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: #000000;
}

.social .people {
	min-height: 321px;
	margin-bottom: 53px;

	background-image: url("../img/people.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.social .feedback b {
	display: block;
	max-width: 245px;
	margin: 0 auto;
	margin-bottom: 20px;

	font-family: Raleway, Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;  
}


.social .feedback p {
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 25px;
}

.feedback .social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 260px;
	padding: 0;
	margin: 0;
	margin: 0 auto;

	list-style: none;
}

.social-item {
	margin-right: 10px;
}

social-item:last-child {
	margin-right: 0;
}

.social-item a{
	display: block;
	width: 34px;
	height: 34px;

	border-radius: 50%;
	background-color: #d1d1d1;
	background-repeat: no-repeat;
	background-position: center center;
}

.social-twitter a{
	background-image: url("../img/twitter-icon.png");
}

.social-facebook a{
	background-image: url("../img/facebook-icon.png");
}

.social-pinterest a{
	background-image: url("../img/pinterest-icon.png");
}

.social-google a{
	background-image: url("../img/google-icon.png");
}

.social-linkedin a{
	background-image: url("../img/linkedin-icon.png");
}

.social-youtube a{
	background-image: url("../img/youtube-icon.png");
}

.social-item a:hover {
	background-color: #575757;
}

.social-item a:active {
	background-color: #000000;
}

.main-footer {
	background-color: #e3e3e3;
}

.main-navigation {
	padding: 58px 0;
}

.navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 528px;
	margin: 0;
	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.navigation-item a {
	text-decoration: none;
	color: #848484;
}

.navigation-item a:hover {
	color: #575757;
}

.navigation-item a:active {
	color: #000000;
}
