html,
body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: Jura, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;

	background-color: #ffffff;
} 

.container {
	width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

a {
	text-decoration: none;
}

.main-header {
	background-color: #616161;
	background-image: url("../img/header-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-header .main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 30px 0;
	margin-bottom: 90px;

	border-bottom: 1px solid #ffffff;
}

.main-navigation .logo {
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	color: #ffffff;
}

.navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 475px;
	margin: 0;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.navigation-item a {
	font-weight: 700;
	text-transform: uppercase;
    color: #000000;
}

.navigation-item a:not(.active):hover {
	color: #488d84;
}

.navigation-item a:active {
	color: #376f68;
}

.name {
	border-bottom: 1px solid transparent;
}

.name h1 {
	max-width: 500px;
	padding: 0;
	margin: 0;

	font-size: 90px;
	line-height: 90px;
	color: #ffffff;

	cursor: default;
}

.name p {
	margin: 0;
	margin-top: 35px;
	margin-bottom: 82px;
	padding-bottom: 20px;

	font-size: 32px;
	line-height: 48px;
	color: #ffffff;
	cursor: default;

	border-bottom: 1px solid #ffffff;
}

.content-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 80px 0;

	cursor: default;
}

.content-title {
	padding: 0;
	margin: 0;

	font-weight: 700;
	font-size: 32px;
	line-height: 48px;
	color: #000000;
}

.content-block-left {
	position: relative;
	width: 380px;
}

.content-block-left h2 {
	padding-left: 80px;
}

.content-block-left .arrow::before {
	position: absolute;
	content: "";
	top: 15px;
	left: 0;
	width: 50px;
	height: 15px;

	background-repeat: no-repeat;
	background-position: 0 0;
}

.about-me .arrow::before,
.my-works .arrow::before {
	background-image: url("../img/arrow-gray.svg");
}

.experience .arrow::before,
.contacts .arrow::before {
	background-image: url("../img/arrow-white.svg");
}

.content-block-left .arrow:hover::before {
	background-image: url("../img/arrow-green.svg");
	opacity: 0.7;
}

.content-block-left .arrow:active::before {
	background-image: url("../img/arrow-green.svg");
	opacity: 1;
}

.content-block-right {
	width: 695px;
}

.content-block p {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.experience {
	color: #ffffff;

	background-color: #a9a9a9;
}

.experience .advantages-list {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.advantage-item {
	margin-bottom: 15px;
}

.experience a {
	color: #a2f2e8;
}

.experience a:hover {
	color: #00dbbf;
}

.experience a:active {
	color: #01c0a7;
}

.my-works .projects-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.my-works .project-block {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	position: relative;
	display: block;
	width: 200px;
	min-height: 200px;
	margin-right: 10px;
	margin-bottom: 10px;

	background-color: #eeeeee;
}

.project-block img {
	display: block;
}

.project-block .hover-block {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	padding: 20px;
	
	color: #000000;
	background-color: rgba(241,240,239,0.92);
}

.hover-block a img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 120px;
	height: 120px;

	-webkit-transform: translate(-50%, -50%);

	    -ms-transform: translate(-50%, -50%);

	        transform: translate(-50%, -50%);
	opacity: 0.5;
}

.hover-block a:hover img {
	opacity: 1;
}

.hover-block a:active {
	color: #179fd6;
}

.project-block:hover .hover-block {
	display: block;
}

.contacts {
	color: #ffffff;

	background-color: #a9a9a9;
}

.contacts .content-block-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.contacts .social-content a {
	display: block;
	max-width: 190px;

	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	color: #ffffff;
}

.social-content a:hover {
	color: #a2f2e8;
}

.social-content a:active {
	color: #52ffe9;
}

.social-name,
.social-content {
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-name li,
.social-content li {
	margin-right: 25px;
	margin-bottom: 10px;
}

.social-name li:last-child,
.social-content li:last-child {
	margin-bottom: 0;
}

.social-name li {
	font-weight: 700;
	color: #000000;
}

